{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-body p-4">
          <h5 class="card-title fw-semibold mb-4">Recent Transactions</h5>
          <div class="table-responsive">
            <table class="table text-nowrap mb-0 align-middle">
              <thead class="text-dark fs-4">
                <tr>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Id</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Date</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Shop Number</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Owner Name</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Shop Name</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Shop Type</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Lifted Status</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Area</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">TOtal Points</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for item in transaction %}
                <tr>
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{item.id}}</h6></td>
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{item.pickup_date}}</h6></td>
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{item.shop_owner.shopowner_number}}</h6></td>
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{item.shop_owner.shop_owner.user.first_name}}{{item.shop_owne.shop_owner.user.last_name}}</h6></td>
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{item.shop_owner.shop_name}}</h6></td>
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{item.shop_owner.shop_type}}</h6></td>
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{item.lifted_status}}</h6></td>
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{item.shop_owner.area}}</h6></td>
                  <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{item.total_pointes}}</h6></td>
                </tr>
                {% endfor %}
                  
                                     
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="py-6 px-6 text-center">
    <p class="mb-0 fs-4"> All rights reserved by Recycle Bandi </p>
  </div>
</div>
{% endblock %}