{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recycle Bandi | Dashboard</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'dashboard_assets/images/logos/logo.png' %}" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'dashboard_assets/css/styles.min.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard_assets/css/otp.css' %}" />
  
</head>

<body>

    {% block content %}
    {% endblock %}


 
    <script src="{% static 'dashboard_assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard_assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard_assets/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'dashboard_assets/js/app.min.js' %}"></script>
    <script src="{% static 'dashboard_assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'dashboard_assets/libs/simplebar/dist/simplebar.js' %}"></script>
    <script src="{% static 'dashboard_assets/js/dashboard.js' %}"></script>
    <script src="{% static 'dashboard_assets/js/otp.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      $(document).ready(function() {
        // Initialize Select2 on the select element
        $('#Select2').select2();
      });
  
      $(document).ready(function() {
        // Initialize Select2 on the select element
        $('#waste_type_select2').select2();
      });
    </script>

    <script>
        function show_success(message,classType='success'){
            Swal.fire({text: message,icon: classType});
          }
      
          function show_error(message){
            Swal.fire({text: message,icon: "error"});
          }
      
          function show_msg_callback(message,classType='success',callback){
            Swal.fire({text: message,icon: classType}).then((result) => callback());
          }
      
          function confirm_dialog(title,message,callback,cancelText='No',confirmText='Yes',buttonTitle=null){
            Swal.fire({
              title: title,
              text: message,
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              cancelButtonText: cancelText,
              confirmButtonText: confirmText,
              reverseButtons: true
            }).then((result) => {
              if (result.isConfirmed) {
                callback(buttonTitle)
              }
            });
          }
    </script>
  
</html>